body {
    font-family: 'Special Elite', cursive;
    background: #ff6374;
}

.header_div {
    background: turquoise;
    color: #ff7f50;
}

.header_div p {
    font-family: 'Roboto', sans-serif;
    color: #f55bf5;
    letter-spacing: 2px;
    font: 12px;
    font-weight: bold;
}

.main_div button {
    font-family: 'Roboto'sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}

.copy_right_footer {
    position: fixed;
    color: #f0ffff;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: #9932cc;
    line-height: 3;
    text-align: center;
    text-shadow: 9px 10px 21px #000;
}
